h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #272142;
}

.hero {
  padding: 160px 80px;
  background-color: #f9f7fe;
  text-align: center;
}
.hero p {
  font-family: "Poppins", sans-serif;
  line-height: 2;
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}
button {
  border: none;
  border-radius: 4px;
  background-color: #6c63ff;
  padding: 18px 30px;
}
.get-started {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
